<%= simple_form_for(@dmsf_document, html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <%= f.association :standard_operation %>
  <div class="row">
    <div class="col-sm-5">
      <%= f.input :name, input_html: {class: 'dmsf_document_name'}, as: :hidden %>
      <%= f.input :name, input_html: {class: 'dmsf_document_name'}, disabled: true %>
      <%= f.input :document_definition_id, as: :hidden %>
    </div>
    <div class="col-sm-offset-1 col-sm-1">
      <%= f.input :number %>
    </div>
    <div class="col-sm-offset-1 col-sm-4">
      <%= f.input :date %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <fieldset>
        <legend>Проводка</legend>
        <%= f.fields_for :entry, include_id: false do |ef| %>
          <%= ef.input :debits_account_id, as: :hidden %>
          <%= ef.input :credits_account_id, as: :hidden %>
          <%= ef.input :debit, disabled: true %>
          <%= ef.input :credit, disabled: true %>
          <%= ef.input :amount %>
          <%= ef.input :date %>
        <% end %>
      <fieldset>
    </div>
    <div class="col-sm-offset-1 col-sm-6">
      <fieldset>
        <legend>Аналитика</legend>
        <div class="analytics_placeholder">
          <% @dmsf_document.analytic_types.each do |analytic_type| %>
            <%= f.association :analytics, input_html: {multiple: false, name: 'dmsf_document[analytic_ids][]'}, collection: analytic_type.analytics, label: analytic_type.name %>
          <% end %>
        </div>
      <fieldset>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
