<p class="alert alert-success" role="alert"><%= notice %></p>

<h1><%=t '.title' %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Dmsf::Document.human_attribute_name :name %></th>
      <th><%= Dmsf::Document.human_attribute_name :number %></th>
      <th><%= Dmsf::Document.human_attribute_name :date %></th>
      <th><%= Dmsf::Document.human_attribute_name :entry %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dmsf_documents.each do |dmsf_document| %>
      <tr>
        <td><%= dmsf_document.name %></td>
        <td><%= dmsf_document.number %></td>
        <td><%= dmsf_document.date %></td>
        <td><%= dmsf_document.entry.description %></td>
        <td>
          <%= link_to t('shared.edit'), edit_dmsf_document_path(dmsf_document),
              class: 'btn btn-primary' %>
          <%= link_to t('shared.destroy'), dmsf_document, method: :delete, class: 'btn btn-danger',
              data: { confirm: t('shared.confirmation') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to t('.new'), new_dmsf_document_path, class: 'btn btn-primary' %></p>
