<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dmsf_analytic.name %>
</p>

<p>
  <strong>Analytic type:</strong>
  <%= @dmsf_analytic.analytic_type %>
</p>

<%= link_to 'Edit', edit_dmsf_analytic_path(@dmsf_analytic) %> |
<%= link_to 'Back', dmsf_analytics_path %>
