<!DOCTYPE html>
<html>
  <head>
    <title>DmsBibd</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">DMS</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Документы</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">Регистрационный журнал <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Просмотр регистрационного журнала</a></li>
                <li><a href="#">Просмотр книги счетов</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">Бухгалтерская отчетность <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Определение отчетных форм</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Книга счетов</a></li>
                <li><a href="#">Оборотно-сальдовая ведомость</a></li>
                <li><a href="#">Журнал-ордер</a></li>
                <li><a href="#">Балансовая ведомость</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">Картотеки <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Определения первичных документов", dmsf_document_definitions_path %></li>
                <li><%= link_to "Типовые хозяйственные операции", dmsf_standard_operations_path %></li>
                <li><%= link_to "План счетов", dmsf_accounts_path %></li>
                <li><%= link_to "Виды аналитики", dmsf_analytic_types_path %></li>
                <li><%= link_to "Коды аналитического учета", dmsf_analytics_path %></li>
              </ul>
            </li>
            <li><%= link_to "Настройки", edit_dmsf_setting_path %></li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">
      <%= yield %>
    </div><!-- /.container -->
  </body>
</html>
